<ion-header [translucent]="true">
  <ion-toolbar color ="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.karousell.com/media/photos/products/2022/3/25/lf_viper_valorant_cosplay_1648216026_33d4b6d2_progressive.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">VIPER</ion-card-title>

    </ion-card-header>

    <ion-list lines="none">
      <ion-item>
        <ion-label><strong>Email:</strong> vipervenenosa.gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Telefone:</strong> 955444221</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Função:</strong> Controlador</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap"><strong>Habilidades:</strong> Nuvem venenosa, Cortina Tóxica, Veneno de cobra, Poço peçonhento</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
