<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Omen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://assets.reedpopcdn.com/valorant-agent-omen-1596701992005.jpg/BROK/thumbnail/1200x1200/quality/100/valorant-agent-omen-1596701992005.jpg" />
    <ion-card-header>
      <ion-card-title>Omen</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
