<ion-header [translucent]="true">
  <ion-toolbar color ="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/d2/ad/d2/d2add27d41f7612013073594ba7ae455.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">SAGE</ion-card-title>

    </ion-card-header>

    <ion-list lines="none">
      <ion-item>
        <ion-label><strong>Email:</strong> sagecuradora.gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Telefone:</strong> 997441136</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Função:</strong> Sentinela</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap"><strong>Habilidades:</strong>Orbe de lentidão, Orbe curativa, Orbe de barreira, Ressurreição</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
