<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/d2/ad/d2/d2add27d41f7612013073594ba7ae455.jpg" />
    <ion-card-header>
      <ion-card-title>Sage</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
